<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    *{IE compatibility tag - idea take from http://stackoverflow.com/questions/25557299/internet-explorer-11-disable-display-intranet-sites-in-compatibility-view-via}*
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <title ng-bind="pageTitle"></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="${baseUrl}" target="_self">

    <link href="@{'static/libs/normalize-css-3.0.1/normalize.css'}" media="all" type="text/css" rel="stylesheet">
    #{lib.font-awesome /}

    #{ngApp.dscommon-css-scripts /}

    #{ngApp.theme-css-scripts /}

    #{ngApp.app-css-scripts /}

<head>
<body>
    <!-- Root operations result area -->
    #{ngApp.std.form-message p: "    ", s: "  ", n: "\n", d: true /}
    <!-- Main area -->
    <ui-view />
</body>
</html>