<div>
    <div class="df-page-header-panel">
        <button type="button" class="close" ng-click="$dismiss()">&times;</button>
        <h4>&{'form.confirmationDlg.title'}</h4>
    </div>
</div>
<div class="modal-body modal-confirm">
        <div class="col1"><i class="fa fa-question-circle"></i></div>
        <div class="col2">{{question}}</div>
</div>
<div class="modal-footer">
    <div class="df-modal-btn-group">
        <button ng-click="$close()">&{'form.ok'}</button>
        <button ng-click="$dismiss()">&{'form.no'}</button>
    </div>
</div>

