<!-- TODO: Fix HTML layout -->
%{ if (_d) out.print "${_p}<!-- Tag: ${tag = play.templates.TagContext.current().tagName.replace('.', '/') + '.html'} -->${_n}"
out.print _p; }%<div ng-switch="mode" id="password-field" ng-if='vu("${_arg.name}", item)' class='form-group ${_arg.classAttr}${_classes ? (" " + _classes) : ""}' docflow-widget-password ng-model="$parent.${_arg.update}">%{ out.print _n;
if (_d) out.print "${_p + _s}<!-- Change password button -->${_n}"
out.print _p + _s; }%<div ng-switch-when="changeButton">%{ out.print _n;
out.print _p + _s + _s; }%<label class='df-label df-inline' docflow-for='df'>${messages.get(messages.get(_arg.title))}</label>%{ out.print _n;
out.print _p + _s + _s; }%<div class="df-btn-wrapper">%{ out.print _n;
out.print _p + _s + _s + _s; }%<label ng-if="v('${_arg.name}',item)" class='control-label' >********</label>%{ out.print _n;
out.print _p + _s + _s + _s; }%<div ng-if="u('${_arg.name}',item)">%{ out.print _n;
out.print _p + _s + _s + _s + _s; }%<button class="df-btn-password" docflow-id='df' ng-click="changePassword()">&{'form.btn.changePassword'}</button>%{ out.print _n;
out.print _p + _s + _s + _s; }%</div>%{ out.print _n;
out.print _p + _s + _s; }%</div>%{ out.print _n;
out.print _p + _s; }%</div>%{ out.print _n;
out.print _p + _s; }%<div ng-switch-when="passwordFields">%{ out.print _n;
if (_d) out.print "${_p + _s + _s}<!-- Password input -->${_n}"
out.print _p + _s + _s; }%<div>%{ out.print _n;
out.print _p + _s + _s + _s; }%<label docflow-for='df-pwd1'>&{'form.field.enterNewPassword'}&nbsp;:</label>%{ out.print _n;
}%#{ngApp.std.input-frame _arg, p: (_p + _s + _s + _s), s: _s, n: _n, d: _d}%{
    if (_d) out.print "${_p + _s + _s + _s + _s}<!-- Body: ${tag} -->${_n}"
    out.print _p + _s + _s + _s + _s; }%<input docflow-id='df-pwd1' class="form-control" type="text" name="${_arg.id}_pwd1" ng-model="$parent.$parent.pwd1" required ng-class="{'input-valid-error': form.${_arg.id}_pwd1.$invalid}">%{ out.print _n;
    }%#{ngApp.std.input-frame-simple-validation "df-pwd1", debug: _debug, p: (_p + _s + _s + _s), s: _s, n: _n, d: _d }%{
        if (_d) out.print "${_p + _s}<!-- Body: ${tag} -->${_n}"
        }%#{ngApp.std.input-frame-simple-message "df-pwd1", debug: _debug, err: 'required', p: (_p + _s), s: _s, n: _n, d: _d /}%{
    }%#{/ngApp.std.input-frame-simple-validation}%{
}%#{/ngApp.std.input-frame}%{
out.print _p + _s + _s; }%</div>%{ out.print _n;
if (_d) out.print "${_p + _s + _s}<!-- Confirmation password -->${_n}"
out.print _p + _s + _s; }%<div class='form-group'>%{ out.print _n;
out.print _p + _s + _s + _s; }%<label docflow-for='df-pwd2'>&{'form.field.enterConfirmPassword'}&nbsp;:</label>%{ out.print _n;
}%#{ngApp.std.input-frame _arg, p: (_p + _s), s: _s, n: _n, d: _d }%{ out.print _n;
    out.print _p + _s + _s; }%<input docflow-id='df-pwd2' type="text" name="${_arg.id}_pwd2" ng-model="$parent.$parent.pwd2" docflow-widget-password-match required ng-class="{'input-valid-error': form.${_arg.id}_pwd2.$invalid}">%{ out.print _n;
    }%#{ngApp.std.input-frame-simple-validation "df-pwd2", debug: _debug, p: (_p + _s), s: _s, n: _n, d: _d }%{
        if (_d) out.print "${_p + _s + _s + _s}<!-- Body: ${tag} -->${_n}"
        }%#{ngApp.std.input-frame-simple-message "df-pwd2", debug: _debug, err: 'required', p: (_p + _s), s: _s, n: _n, d: _d /}%{
        }%#{ngApp.std.input-frame-simple-message "df-pwd2", debug: _debug, err: 'passwordMatch', p: (_p + _s), s: _s, n: _n, d: _d /}%{
    }%#{/ngApp.std.input-frame-simple-validation}%{
}%#{/ngApp.std.input-frame}%{
out.print _p + _s + _s; }%</div>%{ out.print _n;
out.print _p + _s; }%</div>%{ out.print _n;
out.print _p; }%</div>%{ out.print _n; }%